body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif; 
    background: url("../images/white_wall_hash.png");
    background-repeat: repeat-x repeat-y;
}

.nav-custom {
    background-color: #0C0C71;
    border-color: #0C0C71;
    color: white;
}

.jumbotron-header {
    background: rgb(0,172,238);
    /*background: #000 url("../images/tours/london.jpg") center center;*/
    color: white;
    margin: 0px;
}

.content-footer {
    margin: 0px;
    color:white;
    background-color: #0C0C71;
    /*background: rgb(51,51,102);*/
}

footer {
    width: 100%;
}

footer p {
    text-align: center;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #9D9D9D;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover {
    color: #9D9D9D;
}